h1 {
    text-align: center;
}

.events {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 1rem auto 4rem auto;
    justify-content: space-around;
}

.event {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px 1px #999;
    margin-bottom: 2rem;
}

.event:hover {
    box-shadow: 1px 2px 2px 2px #777;
}

.event img {
    width: 35%;
    height: 15%;
}
