/* Home Page */
.top {
    background-image: url(../images/runner.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 3rem;
    height: 100%;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 12.5% auto;
}

.main-description {
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    background-color: rgba(255, 100, 35, 0.2);
}

.main-header {
    letter-spacing: 6px;
}

.main-text {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.btns {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.btn {
    text-decoration: none;
    color: #fff;
    width: 30%;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--primary);
    font-size: 1.4rem;
    border: 2px solid var(--primary);
}

.primary:hover {
    border-color: #fff;
    background-color: transparent;
}

.secondary {
    border: 2px solid #fff;
    background-color: transparent;
}

.secondary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

/* Media Queries */
@media screen and (max-width: 1150px) {

    .top {
        height: 1400px;
    }

    .btns {
        flex-direction: column;
    }

    .btn {
        width: 60%;
        margin: 0 auto 1rem auto;
    }

    .nav-items {
        display: block;
        width: 100%;
        padding-inline-start: 0;
    }

    .nav-item a {
        margin: 0 auto;
    }

    .logo img {
        margin: 0 auto;
    }

    .main {
        width: 90%;
    }

}