.container {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    width: 60%;
}

h1, h2 {
    color: #0099ff;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 90%;
    }
}